@use "./variables" as *;
@use "./mixin" as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app {
  font-family: $base-font-family;
  font-weight: $regular;
  background-color: $white;
  font-display: swap;
}

input::placeholder {
  font-family: $base-font-family;
}

a {
  text-decoration: none;
  word-break: break-word;
  white-space: normal;
}

p {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  line-height: 1.75;

  @include mq("max", "md") {
    font-size: 14px;
  }
}

button {
  border: none;
}

iframe {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

label {
  line-height: 1.5;
}
