@use "@/styles/core/variables" as *;

.label {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 4px 8px;
  background-color: $secondary;
  color: $white;
  border-radius: 12px;
}
