@use "@/styles/core/variables" as *;
@use "@/styles/core/mixin" as *;
@use "@/styles/core/functions" as *;

.container {
  border-radius: 40px;
  box-shadow: 0 5px 25px #1b6c871a;
  overflow: hidden;
}

.link {
  display: grid;
  grid-template-columns: 1.9fr 2fr;

  @include link-hover-action-opacity;

  @include mq("max", "md") {
    display: block;
  }
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 380 / 270;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.contents {
  padding: 30px;
  background-color: $white;
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 10px;

  @include mq("max", "md") {
    padding: 20px;
  }
}

.title {
  font-size: 20px;
  font-weight: $medium;
  line-height: 1.7;

  @include ellipsis(2);

  @include mq("max", "md") {
    @include ellipsis(3);
  }
}

.categories {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.description {
  @include ellipsis(4);

  font-size: 16px;

  @include mq("max", "lg") {
    display: none;
  }

  @include mq("max", "md") {
    display: -webkit-box;
  }
}
