@use "../../../styles/core/variables" as *;
@use "../../../styles/core/mixin" as *;

.mainView {
  width: 100vw;
  height: 900px;
  background: linear-gradient(122deg, $secondary-light, #f5fdff);
}

.inner {
  width: $inner-width;
  margin: 0 auto;
  padding: $padding-pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
}

.copy {
}
.title {
  color: red;
}
.copyText {
}
.image {
}
